@using WebQuanLyNhaHang.Utilities;
@model WebQuanLyNhaHang.Models.Employee

@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<main id="main" class="main">
    <div class="pagetitle">
        <h2>Xác nhận sửa thông tin nhân viên</h2>
    </div>
    <div class="container shadown p-5">
        <div class="row pb-2">
            <h2>Sửa thông tin nhân viên</h2>
        </div>
        <form method="post" asp-action="Edit">
            <div asp-validation-summary="All"></div>
            <div class="form-row">
                <input type="text" class="form-control mb-3" asp-for="EmployeeID" type="hidden" />
                <div class="form-group col-md-12">
                    <label asp-for="EmployeeName">Họ và tên</label>
                    <input type="text" autocomplete="off" class="form-control mb-3" asp-for="EmployeeName" placeholder="Nhập họ tên nhân viên" />
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-12">
                    <label asp-for="Position">Phụ trách</label>
                    <select asp-for="Position" class="form-select" id="Position">
                        <option value="Đầu bếp">Đầu bếp</option>
                        <option value="Phục vụ">Phục vụ</option>
                        <option value="Phụ bếp">Phụ bếp</option>
                    </select>
                </div>

                <div class="form-group col-md-12">
                    <label class="control-label">Ảnh</label>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <button class="btn btn-success" type="button" onclick="openDialog()">Choose a pic</button>
                        </div>
                        <input type="text" autocomplete="off" class="form-control" asp-for="Image" id="file_input" aria-describedby="button-addon2">
                    </div>
                </div>

                <div class="form-group col-md-6">
                    <label asp-for="Email">Email</label>
                    <input type="text" autocomplete="off" class="form-control mb-3" asp-for="Email" placeholder="" autocomplete="off" />
                    <span asp-validation-for="Email" class="alert-danger"></span>
                </div>

                <div class="form-group col-md-6">
                    <label asp-for="Phone">Số điện thoại</label>
                    <input type="text" autocomplete="off" class="form-control mb-3" asp-for="Phone" placeholder="" autocomplete="off" />
                    <span asp-validation-for="Phone" class="alert-danger"></span>
                </div>

                <div class="form-group col-md-6">
                    <label asp-for="Address">Địa chỉ</label>
                    <input type="text" autocomplete="off" class="form-control mb-3" asp-for="Address" placeholder="" autocomplete="off" />
                    <span asp-validation-for="Address" class="alert-danger"></span>
                </div>

                <div class="form-group col-md-12">
                    <label asp-for="Description">Thông tin thêm</label>
                    <textarea id="Description" asp-for="Description" class="form-control"></textarea>
                </div>
                <div class="form-group col-md-6 mt-3 mb-3">
                    <label>
                        @Html.CheckBox("IsActive", false)
                        Hiển thị
                    </label>
                </div>
            </div>
            <button type="submit" class="btn btn-lg btn-primary p-2">
                <i class="bi bi-file-plus-fill"></i>
                Lưu
            </button>
            <a asp-controller="Employee" asp-action="Index" class="btn btn-lg btn-warning p-2">Quay lại</a>
        </form>
    </div>
</main>
@{
    var summerNote = new WebQuanLyNhaHang.Areas.Admin.Models.SummerNote("#Contents");
    <partial name="_SummerNote" model="summerNote" />
}
